<launch>
    <!--launch gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- load panda file and spawn it -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find panda_description)/robots/panda.urdf.xacro'" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" />

    <!-- Load controller param -->
    <!-- <rosparam file="$(find panda_description)/config/panda_effort_control.yaml" command="load" /> -->
    <rosparam file="$(find panda_description)/config/panda_position_control.yaml" command="load" />

    <!-- Load controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--namespace=/panda joint_state_controller panda_arm_controller panda_hand_controller" />
</launch>